// Styles for footer

footer {
  .back-to-top-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    margin: 0 30px 30px 0;
    border-radius: 100px;
    position: fixed;
    bottom:0;
    right: 0;
    background-color: #4056a1;
  }
  .footer-container {
    display: none;
  }
}

.back-to-top-btn i {
  color: #ffffff;
  font-size: 4.6em;
}

.footer-container i:hover {
  font-size: 4em;
}