// Styles for header

header img {
  margin-top: 15%;
}

header h2 {
  margin: 0;
}

.page-header {
  height: 400px;
  width: 100%;
  
  margin-top: 120px;
  display:flex;
  align-items: center;
  flex-direction: column;
  background-color: $header-background;
  background-image: url("../images/light-wool.png");
}

.username-heading {
  margin: 1% 0 3% 0;
  font-size: 1.5em;
}

