//CSS not to be changed
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

//Import variables
@import 'variables';

// Global layout styles

body {
  color: $font-color;
  background-color: $project-white;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
}

@import 'nav';
@import 'header';
@import 'new-tweet';
@import 'footer';

.container {
  width: 90%;
  margin: 3% 5% 0 5%;
  background-color: $project-white;
  text-align: center;
}

@import 'tweet';

//Media Queries
@import 'media-query'