/* Styles for header */

header {
  height: 400px;
  width: 100%;
  display:flex;
  align-items: center;
  flex-direction: column;
  background-color: #d89820;
  background-image: url("../images/light-wool.png")
}
header img {
  margin-top: 20%;
}
.username {
  margin: 0;
}
header h2 {
  margin: 0;
}