/* New Tweet form styles */

.counter {
  text-align: right;
}
form {
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
  width: 90%;
}
main h2 {
  margin: 10px;
}
#tweet-text {
  margin: 1% 2% 2% 2%;
  padding: 10px;
  outline: none;
  resize: none;
  overflow: hidden;
  border: none;
  border-bottom: 2px solid black;
  height: 55px;
  font-weight: 600;
  background-color: #f4f1ec;
}

.submit-btn {
  border: thick solid #f4f1ec;
  background-color: #4056a1;
  color: #f4f1ec;
  margin: 0;
  padding: 7px 10px;
}

.submit-btn:focus {
  border : thick solid lightskyblue;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 2% 2% 2%;
  font-family: Bungee, sans-serif;
  font-weight: 10;
}

.error-message {
  align-self: start;
  margin: 5% 0 0 2%;
  padding: 10px;
  font-weight: 600;
  color:#cf3b3b;
}

.red-text {
  color:#cf3b3b;
}