.tweet-main {
  border: black solid 2px;
  border-radius: 10px;
  width: 90%;
  margin: 20px 5%;
  filter: opacity(75%);
  word-wrap: break-word;
}

.tweet-main:hover {
  box-shadow: 10px 10px 10px #4056a1;
  filter: none;
}

/* Header of a tweet */
.tweet-main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3% 5%;
}

.tweet-main header img {
  font-size: 60px;
  margin: 0;
}

.tweet-main footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 5%;
}

.tweet-content {
  border-bottom: black solid 2px;
  margin: 0 5%;
  text-align: start;
  font-size: 2rem;
}
.tweet-content p {
  margin-top: 0;
}

.name-plate {
  display: flex;
  align-items: center;
}

.icons {
  font-size: 1rem;
  color: #4056a1;
  display: none;
}

.tweet-main:hover .icons {
  display: block;
}

.username {
  color:#4056a1;
  opacity: 50%;
  display: none;
}

.tweet-main:hover .username {
  display: block;
}
