.tweet-main {
  width: 90%;
  margin: 20px 5%;
  border: black solid 2px;
  border-radius: 10px;
  filter: opacity(75%);
  word-wrap: break-word;
}

.tweet-main:hover {
  box-shadow: 10px 10px 10px #4056a1;
  filter: none;
}

.tweet-main header {
  margin: 3% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-main header img {
  margin: 0;
  font-size: 60px;
}

.tweet-main footer {
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.tweet-content {
  margin: 0 5%;
  border-bottom: black solid 2px;
  text-align: start;
  font-size: 2rem;
}
.tweet-content p {
  margin-top: 0;
}

.name-plate {
  display: flex;
  align-items: center;
}

.icons {
  display: none;
  color: #4056a1;
  font-size: 1rem;
}

.icons i:hover {
  font-size: 2em;
}

.tweet-main:hover .icons {
  display: block;
}

.username {
  display: none;
  color:#4056a1;
  opacity: 50%;
}

.tweet-main:hover .username {
  display: block;
}
